header {
  background: #4a235a; /* Cor de fundo */
  padding: 10px;
  color: #ffffff;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
nav a {
  color: white;
  text-decoration: none;
}
